<ng-container *tuiLet="{
        solution: solution$ | async,
        contest: contest$ | async,
        user: user$ | async,
    } as contestInfo"
>
    <div *ngIf="contestInfo.contest" class="tui-row tui-row_adaptive margin-left-0 margin-right-0 tui-space_bottom-3">
        <div class="top-container">
            <div>
                <tui-stepper [(activeItemIndex)]="activeItemIndex">
                    <button tuiStep>Описание</button>
                    <button
                        *ngFor="let taskFormArray of tasksFormArrayControls; let i = index"
                        tuiStep
                        (click)="onTasksNavigationClick(contestInfo.contest.id, contestInfo.contest.tasks[activeItemIndex - 1].id)"
                        [disabled]="!canNavigateTasks(contestInfo.contest, contestInfo.user, contestInfo.solution)"
                    >
                        {{ 'Задача ' + (i + 1) }}
                    </button>
                    <button *ngIf="isOwner(contestInfo.contest, contestInfo.user) || isComplete(contestInfo.contest, contestInfo.solution)" tuiStep>Результаты</button>
                </tui-stepper>
            </div>
            <div *ngIf="contestInfo.solution && !isOwner(contestInfo.contest, contestInfo.user) && !isComplete(contestInfo.contest, contestInfo.solution)">
                <span [textContent]="'Осталось: '"></span>
                <tui-badge class="badge" status="primary" [value]="timer$ | async"></tui-badge>
            </div>
        </div>
    </div>
    <ng-container *ngIf="contestInfo.contest" [ngSwitch]="activeItemIndex">
        <challenge-space-solution-welcome
            *ngSwitchCase="0"
            [contest]="contestInfo.contest"
            [isOwner]="isOwner(contestInfo.contest, contestInfo.user)"
            [isComplete]="isComplete(contestInfo.contest, contestInfo.solution)"
            [solution]="contestInfo.solution"
            [createSolutionLoadingStatus]="createSolutionLoadingStatus$ | async"
            (startContest)="onStartContest()"
        ></challenge-space-solution-welcome>
        <challenge-space-contest-results
            *ngSwitchCase="contestInfo.contest.tasks.length + 1"
            [contestResults]="contestResults$ | async"
            [isComplete]="isComplete(contestInfo.contest, contestInfo.solution)"
            [isOwner]="isOwner(contestInfo.contest, contestInfo.user)"
            [isFinished]="isFinished(contestInfo.contest)"
        ></challenge-space-contest-results>
        <ng-container *ngIf="contestInfo.contest && contestInfo.solution">
            <challenge-space-solution-task
                *ngSwitchDefault
                [contest]="contestInfo.contest"
                [solution]="contestInfo.solution"
                [isComplete]="isComplete(contestInfo.contest, contestInfo.solution)"
                [isOwner]="isOwner(contestInfo.contest, contestInfo.user)"
                [task]="contestInfo.contest.tasks[activeItemIndex - 1]"
                [taskIndex]="activeItemIndex - 1"
                [taskSettingsForm]="tasksFormArrayControls[activeItemIndex - 1]"
                [codesSettingsForm]="codesFormArrayControls[activeItemIndex - 1]"
                (sendTaskSolution)="onSendTaskSolution($event)"
                (completeSolution)="onCompleteSolution()"
            ></challenge-space-solution-task>
        </ng-container>
    </ng-container>
</ng-container>
