<div class="container">
    <div class="container__settings" [ngSwitch]="activeItemIndex">
        <challenge-space-contest-form-main-settings
            *ngSwitchCase="0"
            [form]="form.controls[activeItemIndex]"
        ></challenge-space-contest-form-main-settings>
        <challenge-space-contest-form-task-settings
            *ngSwitchDefault
            [form]="form.controls[activeItemIndex]"
        ></challenge-space-contest-form-task-settings>
        <div
            class="tui-form__buttons tui-form__buttons_align_end tui-space_top-16 tui-space_bottom-10"
        >
            <button
                *ngIf="activeItemIndex !== 0"
                tuiButton
                size="m"
                class="tui-form__button"
                (click)="onSubmit()"
            >
                Создать соревнование
            </button>
            <button
                *ngIf="activeItemIndex !== 0"
                tuiButton
                size="m"
                appearance="secondary-destructive"
                class="tui-form__button"
                [disabled]="form.controls.length === 2"
                (click)="onDeleteTask()"
            >
                Удалить задачу
            </button>
        </div>
    </div>
    <div>
        <tui-stepper orientation="vertical" [(activeItemIndex)]="activeItemIndex">
            <button *ngFor="let step of steps" tuiStep>
                {{ step }}
            </button>
        </tui-stepper>
        <button
            *ngIf="form.controls.length <= 6"
            tuiButton
            size="s"
            class="tui-space_top-5"
            (click)="onAddTask()"
        >
            Добавить задачу
        </button>
    </div>
</div>
