<ng-container [formGroup]="form">
    <div class="tui-form__row">
        <tui-input formControlName="name">
            Введите название задачи
            <input tuiTextfield />
        </tui-input>
    </div>
    <div class="tui-form__row">
        <tui-editor formControlName="condition">Placeholder</tui-editor>
    </div>
    <h3>Все задания тестируются через input - output</h3>
    <div class="tui-form__row tui-form__row_multi-fields">
        <tui-text-area tuiTextfieldSize="m" class="tui-form__multi-field">Input</tui-text-area>
        <tui-text-area tuiTextfieldSize="m" class="tui-form__multi-field">Output</tui-text-area>
    </div>
</ng-container>
