<div class="tui-row tui-row_adaptive">
    <div class="tui-col_6">
        <h2>{{ taskName }}</h2>
        <tui-tabs class="tui-space_bottom-5" [(activeItemIndex)]="activeItemIndex">
            <button tuiTab>Условие</button>
            <button tuiTab>Output</button>
        </tui-tabs>
        <ng-container [ngSwitch]="activeItemIndex">
            <tui-editor-socket
                *ngSwitchCase="0"
                class="editor-socket"
                [content]="taskCondition"
            ></tui-editor-socket>
        </ng-container>
    </div>
    <div class="tui-col_6 right-container">
        <tui-select class="tui-space_bottom-2" [formControl]="languageControl">
            Язык
            <input tuiTextfield placeholder="Выберите язызык программирования" />
            <tui-data-list-wrapper
                *tuiDataList
                [items]="languages"
            ></tui-data-list-wrapper>
        </tui-select>
        <ngx-monaco-editor
            class="right-container__code-editor"
            [options]="editorOptions"
            [(ngModel)]="code"
        ></ngx-monaco-editor>
        <div class="tui-form__buttons tui-form__buttons_align_end">
            <button tuiButton size="m" class="tui-space_left-auto">
                Запустить и проверить
            </button>
        </div>
    </div>
</div>
